// COLORS
$color-text-primary: #9597A5;
$color-secondary: #2d314d;
$color-white: #ffffff;
$color-primary-bg: #f2f2f2;
$color-secondary-bg: #f4f5f7;
$linear-green-bg: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);


// FONTS
$font-familiy: "Public Sans", "Arial", sans-serif;