.hero {
  position: relative;
  z-index: 2;
  padding-top: 10.62rem;
  padding-bottom: 10.62rem;
  background-image: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 31.25rem) -16.25rem;
}

.hero__container {
  display: flex;
}

.hero__content {
  max-width: 28.13rem;
  width: 100%;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 4rem;
  letter-spacing: -1px;
  color: $color-secondary;
}
.hero__description {
  margin-top: 0;
  margin-bottom: 2.25rem;
  font-size: 1.13rem;
  line-height: 1.75rem;
  letter-spacing: -0.28px;
}
.hero__img {
  position: absolute;
  width: 46rem;
  height: 56.2rem;
  left: calc(50% + 5rem);
  top: -7.5rem;
}

// @include breakpoint-down (43.75rem) {
  //     .hero__img {
    //       width: 500px;
    //       height: 650px;
    //     }
    // }
    @include breakpoint-down (43.75rem) {
      .hero {
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-repeat: no-repeat;
        background-position: calc(50% - 13rem) -15rem;
      }
      .hero__container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
      }
      .hero__img {
        position: static;
        width: 100%; /* Adjust as needed */
        height: auto;
        margin-top: 2rem; /* Add some margin for better spacing */
      }

      .hero__content {
        text-align: center; /* Center the content */
      }

      .hero__title {
        font-size: 2.5rem; /* Adjust as needed */
        line-height: 3rem; /* Adjust as needed */
        letter-spacing: 0; /* Reset letter-spacing if needed */
        margin-bottom: 1rem; /* Adjust as needed */
      }

      .hero__description {
        font-size: 1rem; /* Adjust as needed */
        line-height: 1.5rem; /* Adjust as needed */
        letter-spacing: 0; /* Reset letter-spacing if needed */
        margin-bottom: 2rem; /* Adjust as needed */
      }
    }

    @media only screen and (max-width: 31.25rem) {
      .hero {
        padding-top: 0;
        padding-bottom: 5.5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-repeat: no-repeat;
        background-position: calc(30% - 8rem) -38rem;
      }
      .hero__content {
        width: 100%;
        max-width: 20.5rem;
      }
      .hero__img {
        background-image: url('images/hero-phones-mobile.png');
        width: 327px;
        height: 402px;
        margin-top: -7.5rem;
        margin-bottom: 2.5rem;
      }
    }
    @media only screen and (max-width: 25rem) {
      .hero {
        background-image: url("/images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: calc(50%) -50px;
      }
    }