/* LOGO */
.logo {
  display: block;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__img {
  display: block;
  width: 140px;
  height: 20px;
  object-fit: contain;
}