.site-header {
  position: relative;
  z-index: 5;
  padding-top: 1.13rem;
  padding-bottom: 1.13rem;
  background-color: $color-white;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include breakpoint-down (43.75rem) {
  .site-header__sitenav {
    display: none;
  }

    .site-header--open .site-header__sitenav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      padding: 1.25rem;
      z-index: 1;
      background-color: $color-white;
      border-radius: 4px;
    }
}